/* ~~~ Slide Show ~~~ */

#slide_show {
  width: 640px;
  height: 480px;
  display: block;
  margin: 0px auto;
}

#slide_show img {
  position: relative;
  width: 100%;
  height: 100%;
}

.visible {
  display: block;
}

.hidden {
  display: none;
  z-index: -1;
}
